@import 'libs/vars';
@import 'libs/functions';
@import 'libs/mixins';
@import 'libs/breakpoints';

/* Basic */

	body {
		&:after {
			display: none;
		}
	}

/* Main */

	#main {
		transform: none !important;
		opacity: 1 !important;
	}